<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Not Found</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>City Not Found</h1>
    <div class="card">
        <p>We couldn’t find the weather for the city you entered. Please try again.</p>
    </div>
    <form action="/weather">
        <input type="text" name="city" id="city" placeholder="Enter a City">
        <button type="submit">Try Again</button>
    </form>
    <footer>
        <p>
            Powered by Flask & OpenWeatherMap |
            Built by <a href="https://www.linkedin.com/in/walidbayoud/" target="_blank">Walid Bayoud</a>
        </p>
    </footer>
</body>
</html>
