<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} Weather</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">
</head>
<body>
    <h1>Weather in {{ title }}</h1>
    <div class="card">
        <img src="http://openweathermap.org/img/wn/{{ icon if icon else '01d' }}@2x.png" alt="Weather Icon" />
        <p>{{ status }}</p>
        <p><strong>Temperature:</strong> {{ temp }} &deg;C</p>
        <p><strong>Feels Like:</strong> {{ feels_like }} &deg;C</p>
    </div>
    <form action="/weather">
        <input type="text" name="city" id="city" placeholder="Enter a City">
        <button type="submit">Search</button>
    </form>
    <footer>
        <p>
            Powered by Flask & OpenWeatherMap |
            Built by <a href="https://www.linkedin.com/in/walidbayoud/" target="_blank">Walid Bayoud</a>
        </p>
    </footer>
</body>
</html>
