* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    background: linear-gradient(to bottom right, #1e3c72, #2a5298);
    color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 2rem;
    text-align: center;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    backdrop-filter: blur(10px);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

form {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

input, button {
    font-size: 1.2rem;
    padding: 0.8rem 1.2rem;
    border-radius: 5px;
    border: none;
    margin: 0 0.5rem;
    outline: none;
}

input {
    width: 250px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #17a2b8;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #138496;
}

footer {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.8);
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

.footer-icon {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    vertical-align: middle;
}


img {
    display: block;
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;
}


